
 body {
    background: linear-gradient(270deg, #793fd8, #4154ba, #9f41ba, #d23229);
    background-size: 800% 800%;

    -webkit-animation: AnimationName 11s ease infinite;
    -moz-animation: AnimationName 11s ease infinite;
    animation: AnimationName 11s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

/* body{
    height: 100vh;
    width: 800px;
}
.content{
    height: inherit;
    position: relative;
}
#store{
    margin: 0;
    position: absolute;
    right: 50%;
    left: 20%;
    top: 40%;
   display: grid;
   justify-items: center;
   grid-template-columns: 1fr 1fr 1fr 1fr;
   grid-gap:50px ;  
 }

 #product{
    border: solid black 4px;
    padding: 10px;
 } */

